html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

header,
main {
  padding: 12px;
}

video {
  margin: 0 auto;
  display: block;
  width: auto;
  height: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
